section.go 
    .container
        .go-block
            .go-head 
                .h4.far.go-subtitle Marshall Bruce Mathers III
            .go-box
                .go-body 
                    audio(src="./music/Eminem - Venom").audio
                    .go-title Eminem - Venom  
                    .go-media  
                        .go-progress 
                            p.go-time#start 00:00
                            .go-duration 
                                .go-line 
                                    .go-ruler
                            p.go-time#end 00:00
                        .go-controls 
                            i.far.go__prev#prev 
                            i.far.go__play 
                            i.far.go__next#next
                        .go-volume
                            i.far.go__volume-icon.normal 
                            input(type="range", name="")
        
